<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Files</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	
	<br>
	<h3>Lataa uusi tiedosto:</h3>
	<br>
	<form method="POST" th:action="@{/upload}" enctype="multipart/form-data">
	<input type="file" name="file" /><br/><br/>
	<input type="submit" value="Submit" />
</form>
<br>
<h3>Ladatut tiedostot:</h3>
    <table class="table table-bordered">
		<tr>
		    <th>NIMI</th>
		    <th>TYYPPI</th>
		</tr>  
    	<tr th:each = "file : ${files}">
    		<th th:text="${file.fileName}"></th>
    		<th th:text="${file.mimeType}"></th>
 				<th><a th:href="@{/file/{id}(id=${file.id})}">Download</a></th>    		
    	</tr>
     </table>	
     <a th:href="@{/productlist}">Takaisin: Pakastimen tuotteet</a>
     </div>
</body>
</html>